
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

tts:
  - platform: google_translate

device_tracker: 
- platform: asuswrt
  host: 192.168.1.1
  username: !secret router_username
  password: !secret router_password
  new_device_defaults:
    track_new_devices: true

media_player:
- platform: androidtv
  name: "Adam's Fire TV"
  host: 192.168.1.151
  screencap: false

sensor:
- platform: systemmonitor
  resources:
  - type: processor_use
  - type: memory_use
  - type: disk_use
    arg: '/'  
      
asuswrt:
  host: 192.168.1.1
  username: !secret router_username
  password: !secret router_password
  sensors:
    - devices
    - upload
    - download
    - upload_speed
    - download_speed

zha:
  zigpy_config:
    ota:
      ikea_provider: true